{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/categories/new">Add New Category</a></li>
                <li><a href="/vendors/new">Add New Vendor</a></li>
           </ul> 
        </nav>
    </header>
    <h2>Settings</h2>
    <h3>Account</h3>
        <p>Take Home Pay:</p>
        <p>{{account.take_home_pay}}</p>
        <form action="/settings" method="POST">
            <label for="take_home_pay">Update Your Monthly Take Home Pay: £</label>
            <input id="take_home_pay" name="take_home_pay" type="number" step=".01" required>
            <button type="submit">Update</button>
        </form>

    <h3>Categories</h3>
        <div class="table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Active? </th>
                    <th>Edit</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <td>{{category.name}}</a></td>
                    <td>{{category.active}}</td>
                    <td>
                        <form action="/categories/edit/{{category.id}}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </table>      
            <form action="/categories/new">
                <button type="submit">Add New Category</button>
            </form>     
        </div>

        <h3>Vendors</h3>
        <div class="table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Active? </th>
                    <th>Edit</th>
                </tr>
                {% for vendor in vendors %}
                <tr>
                    <td>{{vendor.name}}</a></td>
                    <td>{{vendor.active}}</td>
                    <td>
                        <form action="/vendors/edit/{{vendor.id}}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </table>           
            <form action="/vendors/new">
                <button type="submit">Add New Vendor</button>
            </form>  
        </div>






</main>



{%endblock%}