<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Pin Money - {{title}}</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/tasks">Vendors</a></li>
        <li><a href="/tasks/new">Categories</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
