{%extends "base.html"%}

{%block content%}
<section class="welcome">
<h2>Welcome to Pin Money</h2>

    <section>  
        <p>Pin Money has been designed to help users gain a better understanding of how their monthly income is spent by splitting transactions into larger recurring transactions and smaller 'Pin Money' transactions.</p>
        <p>Users can set savings goals, add and edit transactions, vendors and categories and set their monthly income level too.</p>
        <p>Pin Money provides an up to date overview of this information from the Homepage and includes spending statistics for the current month.</p>

    </section>



</section>
{%endblock%}