{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/goals">Back</a></li>
                <li><a href="/goals/new">Add New Goal</a></li>
           </ul> 
        </nav>
    </header>
    <section class="left">
    <h2>Edit Goal</h2>
        
            <form action="/goals/{{goal.id}}" method="POST">
            <section class="new-goal">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text" value="{{goal.name}}" required autofocus>
                </div>
                <div>
                    <label for="savings_target">Savings Target:</label>
                    <input id="savings_target" name="savings_target" type="number" step=".01" value="{{goal.savings_target}}" required>
                </div>
                <div>
                    <label for="savings_time_frame">To be Saved by: </label>
                    <input id="savings_time_frame" name="savings_time_frame" type="date" value="{{goal.savings_time_frame}}" required>
                </div>
                <div>
                    <label for="saved_so_far">Funds Saved so Far:</label>
                    <input id="saved_so_far" name="saved_so_far" type="number" step=".01" value="{{goal.saved_so_far}}" required>
                </div>
                <button class = "button" type="submit">Edit Goal</button>
            </section>
            </form>
    </section>
</main>


{%endblock%}