{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/home">Back</a></li>
                <li><a href="/goals/new">Add New Goal</a></li>
           </ul> 
        </nav>
    </header>
    <section class="left">
        <h2>All Goals</h2>
        <section class="goalgrid">
            {%for goal in goals%}
            <section class="goal">
                    <div>
                        <h3><a href="/goals/edit/{{goal.id}}">{{goal.name}}</a></h3>
                        <p>Savings Target: £{{goal.savings_target}}</p>
                        <p>To be Saved by: {{goal.savings_time_frame.strftime("%d/%m/%Y")}}</p>
                        <p>Funds Saved so Far: £{{goal.saved_so_far}}</p>
                        <p>Still to be Saved: £{{goal.savings_target - goal.saved_so_far}}</p>
                    </div>
                    <div>
                        <form action="/goals/edit/{{goal.id}}">
                            <button class="button">Edit</button>
                        </form>
                        <form action="/goals/delete/{{goal.id}}" method="POST">
                            <button class="delete">Delete</button>
                        </form>
                    </div>
                </section>
            {%endfor%}
        </section>
        <form action="/goals/new">
            <button class="button">Add New Goal</button>
        </form>
    </section>
</main>


{%endblock%}