{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/transactions/new">Add New Transaction</a></li>
           </ul> 
        </nav>
    </header>
    <h2>Add New Transaction</h2>
        <section>
            <form action="/transactions" method="POST">
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" placeholder="Lunch with Friends" required autofocus>
                <label for="cost">Cost: £</label>
                <input id="cost" name="cost" type="number" step=".01" placeholder="18.50" required>
                <label for="date">Date:</label>
                <input id="date" name="date" type="date" value={{today}} required>
                <label for="category">Category:</label>
                <select name="category_id" id="category">
                    {%for row in categories%}
                        <option value="{{row.id}}">{{row.name}}</option>
                    {%endfor%}
                </select>
                <label for="vendor">Vendor:</label>
                <select name="vendor_id" id="vendor">
                    {%for row in vendors%}
                        <option value="{{row.id}}">{{row.name}}</option>
                    {%endfor%}
                </select>
                <label for="monthly_recurring">Monthly Recurring Transaction?</label>
                <select id="monthly_recurring" name="monthly_recurring">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="notes">Notes:</label>
                <input id="notes" name="notes" type="textbox" placeholder="notes">
                <button type="submit">Add Transaction</button>
            </form>
        </section>
</main>


{%endblock%}