{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/transactions">Back</a></li>
                <li><a href="/transactions/new">Add New Transaction</a></li>
           </ul> 
        </nav>
    </header>
    <h2>View Transaction</h2>
        <div class="table">
            <table>
                <tr>
                    <th>Name </th>
                    <th>Cost </th>
                    <th>Date </th>
                    <th>Category </th>
                    <th>Vendor</th>
                    <th>Monthly Transaction?</th>
                    <th>Notes</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td>{{transaction.name}}</td>
                    <td>£{{transaction.cost}}</td>
                    <td>{{transaction.date.strftime("%d/%m/%Y")}}</td>
                    <td>{{transaction.category.name}}</td>
                    <td>{{transaction.vendor.name}}</td>
                    <td>{{transaction.monthly_recurring}}</td>
                    {%if transaction.notes == "None"%} <td></td>
                    {%elif transaction.notes == None%} <td></td>
                    {%else%}
                        <td>{{transaction.notes}}</td>
                    {%endif%}
                    <td>
                        <form action="/transactions/delete/{{transaction.id}}" method="POST">
                            <button class="delete" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
                
        <h2>Edit This Transaction</h2>
        <section>
            <form action="/transactions/{{transaction.id}}" method="POST">
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" value="{{transaction.name}}" required autofocus>
                <label for="cost">Cost: £</label>
                <input id="cost" name="cost" type="number" step=".01" value="{{transaction.cost}}" required>
                <label for="date">Date:</label>
                <input id="date" name="date" type="date" value="{{transaction.date}}" required>
                <label for="category">Category:</label>
                <select name="category_id" id="category">
                    <option value="{{transaction.category.id}}">{{transaction.category.name}}</option>
                    {%for row in categories%}
                        <option value="{{row.id}}">{{row.name}}</option>
                    {%endfor%}
                </select>
                <label for="vendor">Vendor:</label>
                <select name="vendor_id" id="vendor">
                    <option value="{{transaction.vendor.id}}">{{transaction.vendor.name}}</option>
                    {%for row in vendors%}
                        <option value="{{row.id}}">{{row.name}}</option>
                    {%endfor%}
                </select>
                <label for="monthly_recurring">Monthly Recurring Transaction?</label>
                <select id="monthly_recurring" name="monthly_recurring">
                    {%if transaction.monthly_recurring%}
                    <option value="false">No</option>
                    <option value="true" selected>Yes</option>
                    {%else%}
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                    {%endif%}
                </select>
                <label for="notes">Notes:</label>
                    {%if transaction.notes == "None"%} <td><input id="notes" name="notes" type="textbox"></td>
                    {%elif transaction.notes == None%} <td><input id="notes" name="notes" type="textbox"></td>
                    {%else%}
                        <td><input id="notes" name="notes" type="textbox" value="{{transaction.notes}}"></td>
                    {%endif%}
                <button type="submit">Submit</button>
            </form>
            <div>
                <p>Is a Category or Vendor not available for this transaction?</p>
                <p>New Categories and Vendors can be added from the Pin Money Settings.</p>
                <p>The Settings also show any Categories and Vendors that have been deactivated in the past.</p>
            </div>
            <div>
                <form action="/settings" target="_blank">
                    <button type="submit">Settings</button>
                </form>   
            </div>
        </section>
</main>


{%endblock%}