{%extends "base.html"%}
{%block content%}
<main>
    <header>
        <nav>
           <ul class = "sub-menu">
                <li><a href="/transactions">Back</a></li>
                <li><a href="/transactions/new">Add New Transaction</a></li>
           </ul> 
        </nav>
    </header>
    <section class= "home">
        <section class="left">
            <div class="table">
                <h2>View Transaction</h2>
                <table>
                    <tr>
                        <th>Description </th>
                        <th class="cell">Date </th>
                        <th class="cell">Category </th>
                        <th class="cell">Vendor</th>
                        <th class="cell">Pin Money Transaction?</th>
                        <th class="cell">Notes</th>
                        <th class="cell">Price </th>
                        <th class="cell">Delete</th>
                    </tr>
                    <tr>
                        <td>{{transaction.name}}</td>
                        <td class="cell">{{transaction.date.strftime("%d/%m/%Y")}}</td>
                        <td class="cell">{{transaction.category.name}}</td>
                        <td class="cell">{{transaction.vendor.name}}</td>
                        {%if transaction.monthly_recurring == False%}<td class="symbol" class="cell">&#10003;</td>
                        {%else%} <td class="symbol" class="cell">&#215;</td>{%endif%}
                        {%if transaction.notes == "None"%} <td></td>
                        {%elif transaction.notes == None%} <td></td>
                        {%else%}
                        <td class="cell">{{transaction.notes}}</td>
                        {%endif%}
                        <td class="cell">£{{transaction.cost}}</td>
                        <td class="cell">
                            <form action="/transactions/delete/{{transaction.id}}" method="POST">
                                <button class="delete" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
                    
            <section>
                <h2>Edit This Transaction</h2>
                <form class = "add-transaction-view" action="/transactions/{{transaction.id}}" method="POST">
                    <div class= "form-transaction-view">
                        <label for="name">Name:</label>
                        <input id="name" name="name" type="text" value="{{transaction.name}}" required autofocus>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="cost">Cost: £</label>
                        <input id="cost" name="cost" type="number" step=".01" value="{{transaction.cost}}" required>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="date">Date:</label>
                        <input id="date" name="date" type="date" value="{{transaction.date}}" required>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="category">Category:</label>
                        <select name="category_id" id="category">
                            <option value="{{transaction.category.id}}">{{transaction.category.name}}</option>
                            {%for row in categories%}
                                <option value="{{row.id}}">{{row.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="vendor">Vendor:</label>
                        <select name="vendor_id" id="vendor">
                            <option value="{{transaction.vendor.id}}">{{transaction.vendor.name}}</option>
                            {%for row in vendors%}
                                <option value="{{row.id}}">{{row.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="monthly_recurring">Monthly Recurring Transaction?</label>
                        <select id="monthly_recurring" name="monthly_recurring">
                            {%if transaction.monthly_recurring%}
                            <option value="false">No</option>
                            <option value="true" selected>Yes</option>
                            {%else%}
                            <option value="false" selected>No</option>
                            <option value="true">Yes</option>
                            {%endif%}
                        </select>
                    </div>
                    <div class= "form-transaction-view">
                        <label for="notes">Notes:</label>
                            {%if transaction.notes == "None"%} <td><input id="notes" name="notes" type="textbox"></td>
                            {%elif transaction.notes == None%} <td><input id="notes" name="notes" type="textbox"></td>
                            {%else%}
                                <td><input id="notes" name="notes" type="textbox" value="{{transaction.notes}}"></td>
                            {%endif%}
                    </div>
                    <button class="button" type="submit">Submit</button>
                </form>
            </section>
        </section>
        <aside>
            <div>
                <p>Is a Category or Vendor not available for this transaction?</p>
                <p>New Categories and Vendors can be added from the Pin Money Settings.</p>
                <p>The Settings also show any Categories and Vendors that have been deactivated in the past.</p>
            </div>
            <div class="aside-button">
                <form action="/settings" target="_blank">
                    <button class="button" type="submit">Settings</button>
                </form>   
            </div>
        </aside>
            
    </section>
</main>


{%endblock%}